body {
    background-image: url("/assets/404-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #f0f0f0; */
  }

  *{
    margin: 0px;
    padding: 0px;
  }

  .error-container{
display: flex;
flex-direction: column;
align-items: center;
margin: auto;
color: #2a14f2;
  }

  /* .next-content{
background-color: green;
  } */